// It's important to import Bootstrap's functions and variables
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

// Optionally, import mixins if you plan to use them
@import 'node_modules/bootstrap/scss/mixins';

// Now import the rest of Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';


$primary: black;
$secondary: white;


.rf-btn-primary {
    background-color: black;
    padding: 20px 40px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 1000px;
    color: white;
    font-size: 1.1em;
}