.container {
    width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.section {
    padding-top: 8rem;
    padding-bottom: 4rem;
}
@media (max-width: 1920px) {
    .container {
        max-width: 1800px;
    }
    .navbar {
        .menu-btn { 
            display: none;
        }
    }
}
/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
    .navbar {
        .menu-btn { 
            display: none;
        }
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
    .navbar {
        .menu-btn { 
            display: none;
        }
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .navbar {
        .brand {
            width: 15rem;
        }
        .left-inner-link-wrapper {
            display: none;
        }
        .right-link-wrapper {
            display: none;
        }
        .menu-btn {
            display: flex;
        }
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .navbar {
        .brand {
            width: 13rem;
        }
        .menu-btn {
            display: flex;
        }
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
    
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}